<div id="clientes" fxLayout="column">
    <toolbar-table [search]="false" (add)="addUser()" (delete)="deleteAllSelecteds()" (printing)="openPrint()"></toolbar-table>
    <div fxFlex>
        <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="foto">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <img class="avatar" *ngIf="user.foto" [alt]="user.foto"
                         [src]="user.foto"/>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> NOMBRE</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> CODIGO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="apellido_paterno">
                <mat-header-cell *matHeaderCellDef> APELLIDO PATERNO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.apellido_paterno}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="apellido_materno">
                <mat-header-cell *matHeaderCellDef>APELLIDO MATERNO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.apellido_materno}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sexo">
                <mat-header-cell *matHeaderCellDef>sexo</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.sexo === 1 ? 'M' : 'F'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef> Options</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button (click)="editRecord(row.id)" mat-icon-button color="accent">
                        <mat-icon style="color: steelblue;vertical-align:baseline" aria-label="Edit">edit</mat-icon>
                    </button>

                    <button (click)="delete(row.id)" mat-icon-button color="accent">
                        <mat-icon style="color: steelblue;vertical-align:baseline" aria-label="Delete">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row
                (click)="selectedId = row.id"
                *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{ 'highlight': row.id === selectedId }">
            </mat-row>

        </mat-table>
    </div>
    <div fxFlex>
        <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>