<form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
    [formGroup]="registerForm">

    <div class="h2 mb-24">Agregar Cotizacion</div>

    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center" fxFlex="1 0 auto">

        <mat-form-field fxFlex="15">
            <input #inputs matInput placeholder="N° de Cotizacion" formControlName="codigo">
        </mat-form-field>

        <mat-form-field fxFlex="15">
            <input #inputs matInput type="date" placeholder="Fecha Documento" formControlName="fechadoc">
        </mat-form-field>

        <mat-form-field fxFlex="50">
            <input #inputCodigo type="text" placeholder="Cliente" aria-label="Number" matInput
                formControlName="desruc" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option (click)="getcodigo(optionu)" *ngFor="let optionu of filteredClientes | async" [value]="optionu.nombre">
                    {{optionu.nombre}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center" fxFlex="1 0 auto">

     <!-- <mat-form-field fxFlex="25">
            <input #inputs matInput placeholder="Cliente" formControlName="desruc">
        </mat-form-field> -->   
        <mat-form-field fxFlex="20">
            <input #inputs matInput placeholder="RUC" formControlName="ruc">
        </mat-form-field>

        <mat-form-field fxFlex="50">
            <input #inputs matInput placeholder="Direccion" formControlName="dirruc">
        </mat-form-field>

        <mat-form-field fxFlex="10">
            <mat-select formControlName="destipdoc" class="form-control" placeholder="Documento" [(value)]="selecteddoc">
                <mat-option class="pantallafiltro" *ngFor="let mon of listtipdoc" [value]="mon.codigo">{{mon.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        
    </div>

    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center" fxFlex="1 0 auto">

        <mat-form-field fxFlex="20">
            <input #inputs matInput placeholder="Teléfono Ruc" formControlName="telruc">
        </mat-form-field>

        <mat-form-field fxFlex="20">
            <input #inputs matInput placeholder="Correo RUC" formControlName="correoruc">
        </mat-form-field>

        <mat-form-field fxFlex="15">
            <mat-select formControlName="desmonepago" class="form-control" placeholder="Moneda"
                [(value)]="selectedmoneda">
                <mat-option class="pantallafiltro" *ngFor="let mon of opcmoneda" [value]="mon.codigo">
                    {{mon.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="15">
           
                <mat-select formControlName="estado" class="form-control" placeholder="Estado"
                [(value)]="selectedestado">
                <mat-option class="pantallafiltro" *ngFor="let mon of estados" [value]="mon.codigo">
                    {{mon.descripcion}}
                </mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field fxFlex="20">
            <input #inputs matInput placeholder="Forma Pago" formControlName="desconpag">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center" fxFlex="1 0 auto">


           <mat-form-field fxFlex="130">
               <input #inputs matInput placeholder="Observaciones" formControlName="obs">
           </mat-form-field>
   
           
       </div>


    <div class="crud-buttons" fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto">
        <button type="button" (click)="onBack()" mat-raised-button class="mat-primary">Volver</button>
        <button (click)="saveCotizacion()" mat-raised-button [disabled]="registerForm.invalid" class="mat-accent">
            Guardar
        </button>
    </div>
</form>