<div id="clientes" fxLayout="column">
    <toolbar-table [title]="'Maestro'" [urlPrint]="'generate_pdf'" (inputText)="applyFilter($event)" [hidden]="edit"
                   (add)="addRecord()"
                   (delete)="deleteAllSelecteds()"></toolbar-table>
    <div fxFlex [hidden]="edit">
        <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <mat-header-cell fxFlex="50px" *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell fxFlex="50px" *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="codigo">
                <mat-header-cell fxFlex="80px"*matHeaderCellDef> CÓDIGO</mat-header-cell>
                <mat-cell fxFlex="80px" *matCellDef="let element"> {{element.codigo}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="fechadoc">
                <mat-header-cell fxFlex="80px" *matHeaderCellDef> FECHA</mat-header-cell>
                <mat-cell fxFlex="80px" *matCellDef="let element"> {{element.fechadoc}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ruc">
                <mat-header-cell *matHeaderCellDef> RUC</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ruc}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="desruc">
                <mat-header-cell *matHeaderCellDef> NOMBRE</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.desruc}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="telruc">
                <mat-header-cell *matHeaderCellDef> TELÉFONO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.telruc}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="correoruc">
                <mat-header-cell *matHeaderCellDef> CORREO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.correoruc}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> ESTADO</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-chip-list>
                        <mat-chip *ngIf="element.estado === 1" class="green-300" selected>Agendado</mat-chip>
                        <mat-chip *ngIf="element.estado === 2" class="green-100" selected>Atendido</mat-chip>
                        <mat-chip *ngIf="element.estado === 3" class="cyan-100"  selected>Pagado</mat-chip>
                        <mat-chip *ngIf="element.estado === 4" class="red-100"   selected>Anulado</mat-chip>
                    </mat-chip-list>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="options">
                <mat-header-cell fxFlex="80px" *matHeaderCellDef> Options</mat-header-cell>
                <mat-cell fxFlex="80px" *matCellDef="let row">
                    <app-action-icons (edit)="editRecord(row.id)" (remove)="delete(row.id)"></app-action-icons>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row
                (click)="viewRecorddetail(row)"
                class="element-row"
                [ngClass]="{ 'highlight': row.id === cotizacionSelected?.id }"
                *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

        </mat-table>
    </div>
    <div fxFlex [hidden]="edit">
        <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
    <mat-divider></mat-divider>
    <div fxFlex [hidden]="!edit">
        <app-editcotizacion [id]="selectedId" (back)="showDataTable()"
                            (update)="updateDataTable($event)"></app-editcotizacion>
    </div>
</div>
