<form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
    [formGroup]="registerForm">

    <div class="h2 mb-24">Agregar Conductor</div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-form-field fxFlex="25">
            <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <input matInput placeholder="DNI" formControlName="ruc">
        </mat-form-field>

        <mat-form-field fxFlex="33">
            <input #inputs matInput type="date" formControlName="dnivence" class="form-control"
                placeholder="DNI Vence" />
        </mat-form-field>

        <mat-form-field fxFlex="15">
            <input matInput placeholder="Telefono 1" formControlName="telefono1">
        </mat-form-field>

        <mat-form-field fxFlex="15">
            <input matInput placeholder="Teléfono 2" formControlName="telefono2">
        </mat-form-field>
        <mat-form-field fxFlex="20">

            <mat-select formControlName="categprov" class="form-control" placeholder="Documento" [(value)]="selectedCat"
                multiple>
                <mat-option class="pantallafiltro" *ngFor="let moncat of categoprov" [value]="moncat.codigo">
                    {{moncat.descripcion}}
                </mat-option>

            </mat-select>

        </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        <mat-form-field fxFlex="50">
            <input matInput placeholder="Dirección" formControlName="direccion">
        </mat-form-field>

        <mat-form-field fxFlex="50">
            <input matInput placeholder="Pagina Web" formControlName="paginaweb">

        </mat-form-field>
        <mat-form-field fxFlex="20">
            <!-- <input matInput placeholder="Grupo" formControlName="grupo"> -->
            <mat-select formControlName="grupo" class="form-control" placeholder="Vehiculo" [(value)]="selectedGru"
                multiple>
                <mat-option class="pantallafiltro" *ngFor="let mon of tipoprov" [value]="mon.codigo">{{mon.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        <mat-form-field fxFlex="28">
            <input matInput placeholder="Contacto" formControlName="contacto">
        </mat-form-field>

        <mat-form-field fxFlex="28">
            <input matInput placeholder="Teléfono Contacto" formControlName="telcontacto">
        </mat-form-field>

        <mat-form-field fxFlex="28">
            <input matInput placeholder="Correo" formControlName="correo">
        </mat-form-field>

        <mat-form-field fxFlex="20">

            <mat-select formControlName="idioma" class="form-control" placeholder="Tipo" [(value)]="selectedIdi"
                multiple>
                <mat-option class="pantallafiltro" *ngFor="let idi of Idiomaprov" [value]="idi.codigo">
                    {{idi.descripcion}}
                </mat-option>
            </mat-select>

        </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        <mat-form-field fxFlex="28">
            <input matInput placeholder="Contacto2" formControlName="contacto2">
        </mat-form-field>

        <mat-form-field fxFlex="28">
            <input matInput placeholder="Teléfono Contacto2" formControlName="telcontacto2">
        </mat-form-field>

        <mat-form-field fxFlex="34">
            <input matInput placeholder="Correo2" formControlName="correo2">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        <mat-form-field fxFlex="33">
            <mat-select formControlName="banco_nombre1" class="form-control" placeholder="Banco"
                [(value)]="selectedban">
                <mat-option class="pantallafiltro" *ngFor="let ban of bancos" [value]="ban.codigo">
                    {{ban.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="33">
            <input matInput placeholder="Número de cuenta" formControlName="banco_cuenta1">
        </mat-form-field>

        <mat-form-field fxFlex="33">
            <input matInput placeholder="Nombre Destino" formControlName="banco_nomdest1">
        </mat-form-field>

        <mat-form-field fxFlex="14">
            <mat-select formControlName="banco_moneda1" class="form-control" placeholder="Moneda"
                [(value)]="selectedmon">
                <mat-option class="pantallafiltro" *ngFor="let mon of monedas" [value]="mon.codigo">{{mon.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        <mat-form-field fxFlex="33">
            <mat-select formControlName="banco_nombre2" class="form-control" placeholder="Banco"
                [(value)]="selectedban2">
                <mat-option class="pantallafiltro" *ngFor="let ban of bancos" [value]="ban.codigo">
                    {{ban.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="33">
            <input matInput placeholder="Número de cuenta2" formControlName="banco_cuenta2">
        </mat-form-field>

        <mat-form-field fxFlex="33">
            <input matInput placeholder="Nombre Destino2" formControlName="banco_nomdest2">
        </mat-form-field>

        <mat-form-field fxFlex="14">
            <mat-select formControlName="banco_moneda2" class="form-control" placeholder="Moneda"
                [(value)]="selectedmon2">
                <mat-option class="pantallafiltro" *ngFor="let mon of monedas" [value]="mon.codigo">{{mon.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        <mat-form-field fxFlex="33">
            <mat-select formControlName="banco_nombre3" class="form-control" placeholder="Banco"
                [(value)]="selectedban3">
                <mat-option class="pantallafiltro" *ngFor="let ban of bancos" [value]="ban.codigo">
                    {{ban.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="33">
            <input matInput placeholder="Número de cuenta3" formControlName="banco_cuenta3">
        </mat-form-field>

        <mat-form-field fxFlex="33">
            <input matInput placeholder="Nombre Destino3" formControlName="banco_nomdest3">
        </mat-form-field>

        <mat-form-field fxFlex="14">
            <mat-select formControlName="banco_moneda3" class="form-control" placeholder="Moneda"
                [(value)]="selectedmon3">
                <mat-option class="pantallafiltro" *ngFor="let mon of monedas" [value]="mon.codigo">{{mon.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        <mat-form-field fxFlex="33">
            <input #inputs matInput formControlName="cursos" class="form-control"
                placeholder="Cursos" />
        </mat-form-field>

        <mat-form-field fxFlex="33">
            <input #inputs matInput formControlName="brevete" class="form-control"
                placeholder="Numero y Categoria Brevete" />
        </mat-form-field>

        <mat-form-field fxFlex="33">
            <input #inputs matInput type="date" formControlName="brevetevence" class="form-control"
                placeholder="Brevete Vence" />
        </mat-form-field>


    </div>
   
    

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="60px">
        
        <mat-card>
        <h3>Brevete</h3>
        <a [href]="chofer?.docbrevete || 'assets/images/avatars/brevete.jpg'" target="_blank">
        <img #imgAvatar1 class="img80" [src]="chofer?.docbrevete || 'assets/images/avatars/brevete.jpg'" 
        [alt]="chofer?.docbrevete" />
        </a>
        <div class="avatar-upload">
            <label for="file_input1">
                <mat-icon class="mt-8 cursor-pointer">camera_alt</mat-icon>
            </label>
            <input type="file" id="file_input1" (change)="uploadSuccess1($event)">
        </div>
        </mat-card>

        
        <mat-card>
        <h3>Foto</h3>
        <a [href]="chofer?.foto1" target="_blank">
        <img #imgAvatar2 class="img80" [src]="chofer?.foto1 || 'assets/images/avatars/profile.jpg'" [alt]="chofer?.foto1" />
        </a>
        <div class="avatar-upload">
            <label for="file_input2">
                <mat-icon class="mt-8 cursor-pointer">camera_alt</mat-icon>
            </label>
            <input type="file" id="file_input2" (change)="uploadSuccess2($event)">
        </div>
        </mat-card>


        <mat-card>
        <h3>Doc. Cursos</h3>
        <a [href]="chofer?.docpasaporte" target="_blank">
            <img #imgAvatar3 class="img80" [src]="chofer?.docpasaporte || 'assets/images/avatars/pasaporte.jpg'" [alt]="chofer?.docpasaporte" />
        </a>
        <div class="avatar-upload">
            <label for="file_input3">
                <mat-icon class="mt-8 cursor-pointer">camera_alt</mat-icon>
            </label>
            <input type="file" id="file_input3" (change)="uploadSuccess3($event)">
        </div>
        </mat-card>
        <mat-card>
        <h3>DNI</h3>
        <a [href]="chofer?.docdni" target="_blank">
        <img #imgAvatar4 class="img80" [src]="chofer?.docdni || 'assets/images/avatars/dni.jpg'" [alt]="chofer?.docdni" />
        </a>
        <div class="avatar-upload">
            <label for="file_input4">
                <mat-icon class="mt-8 cursor-pointer">camera_alt</mat-icon>
            </label>
            <input type="file" id="file_input4" (change)="uploadSuccess4($event)">
        </div>
        </mat-card>
        <!-- <mat-form-field fxFlex="34">
            <input #inputs matInput formControlName="foto1" class="form-control"
                   placeholder="foto Carnet"/>
        </mat-form-field>
        
        <mat-form-field fxFlex="34">
            <input #inputs matInput formControlName="docdni" class="form-control"
                   placeholder="docdni"/>
        </mat-form-field> -->
        <!-- <mat-form-field fxFlex="34">
            <input #inputs matInput formControlName="docpasaporte" class="form-control" placeholder="docpasaporte" />
        </mat-form-field> -->



    </div>

    <div class="crud-buttons" fxLayout="row" fxLayoutAlign="start center">
        <button (click)="back()" mat-raised-button class="mat-primary">Volver</button>
        <button (click)="saveChofer()" mat-raised-button [disabled]="registerForm.invalid"
            class="mat-accent">Guardar</button>
    </div>
</form>