<div id="clientes" fxLayout="column">
    <toolbar-table (add)="addClient()" (delete)="deleteAllSelecteds()"></toolbar-table>
    <div fxFlex>
        <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="codigo">
                <mat-header-cell *matHeaderCellDef> CODIGO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.codigo}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ruc">
                <mat-header-cell *matHeaderCellDef> RUC</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ruc}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> NOMBRE</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="telefono1">
                <mat-header-cell *matHeaderCellDef>TELEFONO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.telefono1}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="correo">
                <mat-header-cell *matHeaderCellDef>CORREO</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.correo}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef> Options</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button (click)="editRecord(row.id)" mat-icon-button color="accent">
                        <mat-icon style="color: steelblue;vertical-align:baseline" aria-label="Edit">edit</mat-icon>
                    </button>

                    <button (click)="delete(row.id)" mat-icon-button color="accent">
                        <mat-icon style="color: steelblue;vertical-align:baseline" aria-label="Delete">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

        </mat-table>
    </div>
    <div fxFlex>
        <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>