@import "src/@fuse/scss/fuse";

clientes-list {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;
    }
    #clientes {
        width: 100%;
    }
}