.avatar-upload > input {
    display: none;
}

.avatar.huge {
    width: 80px;
    min-width: 80px;
    max-width: 100%;
    height: 80px;
    line-height: 80px;
    
}
.img80 {
    width: 80px;
    height: 80px;
}
