@import "src/@fuse/scss/fuse";

.search-wrapper {
    width: 70% !important;

    .sidebar-toggle {
        margin: 0;
        width: 56px;
        height: 56px;
        border-radius: 0;
        border-right: 1px solid;
    }

    .search {
        width: 100%;
        height: 56px;
        line-height: 56px;
        //padding: 18px;

        input {
            //height: 56px;
            //padding-left: 16px;
            border: none;
            outline: none;
        }
    }
}

.mat-form-field-label {
    opacity: 0.5 !important;
}